<h1>Feel Lucky? Just Have a Try.</h1>

<%= form_for(:map, :url => "/", :html => { :method => 'get' }) do |f| %>

  <% if  @query && @query.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@query.errors.count, "error") %>
        prohibited this query from being executed:</h3>
      <p>There were problems with the following fields:</p>
      <ul>
        <% @query.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_address, "Start Address" %><br />
    <%= f.text_field :start_address %>
  </div>
  <div class="field">
    <%= f.label :end_address, "End Address" %><br />
    <%= f.text_field :end_address %>
  </div>
  <div class="action">
    <%= f.submit "Show me the way!" %>
  </div>
<% end %>

<% if @query && @query.valid? %>
  <% if @routes.founded? %>
    <hr />
    <div id="search_result">
      <h1>Search Result</h1>
      <p>From-To: <span id='start_address'><%= @routes.detailed_start_address %></span> ===> <span id='end_address'><%= @routes.detailed_end_address %></span></p>
      <p id='distance'>Distance: <%= @routes.distance %></p>
      <p id='duration'>Duration: <%= @routes.duration %></p>
      <p>Steps:</p>
      <div id='steps'>
        <ol>
          <% @routes.steps.each do |instruction| %>
            <li id='instruction'> <%= instruction %> </li>
          <% end %>
        </ol>
      </div>
    </div>
  <% else %>
    <p>Invalid addresses, please try again.</p>
    <hr />
  <% end %>
<% end %>
